<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="dbeaver">
	<locations>
		<location path="F:\dbeaver\p2-repository\other" type="Directory"/>
		<location path="F:\dbeaver\dbeaver23.2.0\eclipse2023-06" type="Directory"/>
	</locations>
</target>